body {
  --header-height: 40px;
  margin: var(--header-height) 0 0 0;
  font-family: "Muli", sans-serif;
}

.preload * {
  transition: none !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: #333333;
  display: flex;
  justify-content: flex-end;
}

.header__button {
  width: var(--header-height);
  flex-shrink: 0;
  text-align: right;
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.nav__links {
  position: fixed;
  top: 30px;
  right: 10px;
  padding: 0;
  z-index: 2;
  height: calc(95vh - 45px);
  width: auto;
  overflow-y: scroll;
  background-color: #fff;
  transform: translateX(170px);
  transition: transform 0.5s;
}

.nav--open .nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.nav__link {
  display: flex;
  align-items: center;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 5px;
  background: transform 0.2s;
}

.nav__link > i {
  margin-right: 5px;
}

.nav__link--active {
  color: #009578;
}

.nav__link--active,
.nav__link:hover {
  background: #eeeeee;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.5); */
  /* backdrop-filter: blur(2px); */
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}
