* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  height: 100%;
  width: 100%;
  
}

.slider img {
  position: fixed;
  right: 50%;
  object-fit: cover;
  height: 100%;
  width: auto;
  top: 10px;
  opacity: 0;
  transition: opacity 1s;
  transition: transform 1s;
}

.slider img.active {
  transform: translateX(50%) ;
  opacity: 1;
}

.suivant,
.precedent {
  color: rgba(128, 128, 128);
  font-size: 6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.1;
}
.suivant:hover,
.precedent:hover {
  opacity: 1;
}

.suivant {
  right: 1rem;
}

.precedent {
  left: 1rem;
}
