*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
  --decDrop: 10rem;
}
.page {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 38px 0 1fr auto;
  grid-template-areas:
    "menu"
    "video"
    "main";
}
.menu {
  grid-area: menu;
  display: flex;
  justify-content: start;
}
.checkB {
  border: 1px dotted rgba(128, 128, 128, 0.5);
}

.videos {
  display: none;
  grid-area: video;
}
.enveloppe {
  grid-area: main;
  position: relative;
  background-color: yellowgreen;
  padding: 10px 0;
}
.ecranYT {
  position: relative;
  margin: auto;
}
.lect {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.479);
}
.dropdown {
  position: absolute;
  /* left: 2rem; */
  top: 38px;
  color: black;
  border-radius: 5px;
  margin: auto;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 5px 5px grey;
}

.btn-top {
  width: var(--decDrop);
  margin-left: 0.5rem;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px grey;
  z-index: 5;
}
.bloc-links {
  padding: 0 1rem;
  transition: height 0.3s ease-in-out;
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: whitesmoke;
  z-index: 20;
}
/* .bloc-links div {
  width: auto;
} */
.bloc-links li,
span,
a {
  padding: 5px 5px;
  list-style-type: none;
  color: black;
  /* margin-left: 5px; */
  font-size: 1rem;
  text-align: left;
  display: block;
  width: auto;
}
.bloc-links li:hover,
span:hover,
a:hover {
  color: green;
  text-decoration: underline;
}

.ecranVideos {
  overflow-y: scroll;
  height: calc(100vh - 58px);
}
a {
  text-decoration: none;
}
.sousMenus {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  align-content: center;
}
.sousMenus > div {
  border: 1px dotted rgba(128, 128, 128, 0.5);
  display: flex;
  align-items: center;
}
.retour {
  margin: auto;
  border: none; 
  display: block;
  background-color: transparent;
}
.retour > img:hover {
  filter:drop-shadow(0 -2px 3px black);
}
.retour > img {
  width: 40px;

}
